html {
  font-size: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body,nav {
  background-image: url(/images/film-background-04.jpg);
  background-size:100%;
  margin-bottom: 60px;
}
table {
    background: rgb(255, 255, 255,0.5);
}

td {
    background-color: Highlight;
    text-align: center;
    font-weight:bold;
}

tr:hover {
    background-color: rgb(300, 300, 300,0.5);
}
dl {
    background-color: rgb(300, 300, 300,0.5);
}
